.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/
.hf_cache
outputs/
watch_folder/
cache_data/
papers/
wandb/
*.ckpt
*.pt
*.pth
*.safetensors
